extends layout

block content
	h1.bigBanner #{title}
	h1#resourcesBanner #{title2}

	for dog in dogs
		.dogListContainer
			span
				img(class='dogImage' src='http://assets.classivox.com/vixle_images/-1615655849-original.jpg')
			span.dogInfo
				p.dogListHeader #{dog.name}, #{dog.age} #{dog.sex} 
				p About me: #{dog.bio}
				p Foster: #{dog.foster}
		

