extends layout

block content
	h1.bigBanner #{title}
	h1#resourcesBanner #{title2}

	for dog in dogs
		.dogListContainer
			span
				img(class='dogImage' src='#{dog.photo}')
			span.dogInfo
				p.dogListHeader #{dog.name}, #{dog.age} #{dog.sex} #{dog.breed}
				p <em>About me:</em> #{dog.bio}
				p <em>Foster:</em> #{dog.foster}
		

